<h1>Listing users</h1>

<hr>

 <%= form_tag search_users_path, method: 'get' do %>
   <%= text_field_tag :q, params[:q] %>
   <%= submit_tag :search %>
 <% end %>

 <hr>

<table>
  <tr>
    <th>Name</th>
    <th>Intro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.intro %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<script>
  $("body").highlightSearchTerms({
    referrerPatterns: [
      "^\\?utf8*.+[&?]q=([^&]+).*$"
    ]
  });
</script>
